<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtvapp_sample">

    <!-- TV App need to declare touchscreen not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />

    <!-- true: Your app runs only on TV
         false: Your app runs on both TV and Phone
     -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@drawable/ea_logo_icon"
        android:theme="@style/Theme.Leanback">
        <activity android:name=".MainActivity"
            android:icon="@drawable/ea_logo_icon"
            android:label="ARUN TV APP"
            android:logo="@drawable/ea_logo_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>